<div class="container">
  <div class="wrapper col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <h1>タスクを作成する</h1>
    <%= render 'form' %>
    <%= link_to '戻る', user_tasks_path(@task.user_id) %>
  </div>
</div>
