<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
      <div class="container-child col-md-4 col-sm-4 col-xs-6 ">
        <%= link_to profile_img(user) , user_path(user.id) %>
        <%= link_to user.email , user_path(user.id) %>
        <% unless user.email == current_user.email %>
        <%= render 'follow_form', user: user %>
        <br>
        <% end %>
      </div>
  <% end %>
</div>
